<div class="back">

 <h1>
  {{title}}
 </h1>

 <meu-primeiro-component></meu-primeiro-component>

 <app-meu-primeiro2></app-meu-primeiro2>

 <app-cursos></app-cursos>

 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="assets/Lolo.jpg" class="d-block w-100" alt="Lolo">
      </div>

      <div class="carousel-item">
       <img src="assets/Lola.png" class="d-block w-100" alt="Lola">
      </div>

      <div class="carousel-item">
       <img src="assets/Lele.jpg" class="d-block w-100" alt="Lele">
      </div> 
    </div>
 </div>

</div>